@font-face {
  font-family: iransans;
  src: url(../font/iransans/ttf/IRANSansWeb.ttf);
}
@font-face {
  font-family: iransans-num;
  src: url(../font/iransans/ttf-num/IRANSansWebFaNum.ttf);
}
@font-face {
  font-family: iransans-bold;
  src: url(../font/iransans/ttf/IRANSansWeb_Bold.ttf);
}
@font-face {
  font-family: iranyekan;
  src: url(../font/iranyekan/IRANYekanWeb.ttf);
}
@font-face {
  font-family: iranyekan-bold;
  src: url(../font/iranyekan/IRANYekanWeb-Bold.ttf);
}
