@mixin navigation {
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    gap: 1rem;
  }
  &-item {
    list-style: none;
  }
  &-link {
    font-family: iranyekan-bold;
    font-size: size(sm);
    text-decoration: none;
    color: color(primary);
    &:hover {
      color: lighten(color(primary), 40%);
    }
  }
}

@mixin responsive($breakPoint) {
  @if ($breakPoint == xl) {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if ($breakPoint == lg) {
    @media (max-width: 1000px) {
      @content;
    }
  }
  @if ($breakPoint == md) {
    @media (max-width: 760px) {
      @content;
    }
  }
  @if ($breakPoint == sm) {
    @media (max-width: 560px) {
      @content;
    }
  }
  @if ($breakPoint == xs) {
    @media (max-width: 400px) {
      @content;
    }
  }
}
@mixin flexposition($jstfy: center, $alin: center) {
  display: flex;
  justify-content: $jstfy;
  align-items: $alin;
}

@mixin footerNav {
  &-heading {
    color: color(primary);
    font-size: size(sm);
    margin-bottom: 0.5rem;
  }
  &-item {
    list-style: none;
    margin-top: 0.5rem;
  }
  &-link {
    font-size: size(xs)-0.3;
    color: color(primary);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: lighten(color(primary), 40%);
    }
  }
}
